    
    <div id="main-page-container">
        <header class="top-header">
            <nav class="nav-container">
                <div id="nav-bar-logo">
                    <img src="../../assets/icons/wolf.png" id="nav-logo-img"/>
                    <span id="nav-logo-txt">Fox Marketplace</span>
                </div>
                <div>
                    <ul id="nav-bar-menu-items">
                        <li> Sobre nós </li>
                        <li> Marketplace </li>
                        <li> Contatos </li>
                        <li> Login </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>  
            <section id="logo-section" class="section">
                <div id="logo">
                    <img src="../../assets/icons/wolf.png" id="logo-img" />
                </div>
                <div id="logo-text-box">
                    <h1>
                        Fox marketplace, os melhores produtos online ao seu alcançe.
                    </h1>
                    <h3>
                        No fox marketplace você consegue comprar itens NFT, comprar objetos materiais, ações e  outros com bitcoin e outras cryptocurrencies.
                    </h3>
                    <button>
                        Saiba mais
                    </button>
                </div>
            </section>
            <section id="rocket-section" class="section">
                <div id="rocket-box">
                    <h1>
                        Impulsione suas vendas e compras <br> com o Fox marketplace!
                    </h1>
                    <h3>
                        O fox marketplace é uma das melhores soluções <br> 
                        para compradores e vendedores que desejam <br>
                        vender seus items totalmente digitais, nfts e outros.<br>
                    </h3>
                </div>
                <div id="rocket-box-img">
                    <img src="../../assets/icons/rocket.png" id="rocket-img"/>
                </div>

            </section>
            <section id="link-section" class="section">

            </section>
        </main>

        <footer id="bottom-footer">
            <div class="copyright-email">
                <span class="item-copy">@Copyright fox Market</span>
                <span class="item-copy">Contato : Fox-market@fox.com</span>
            </div>
            <div class="social-media-icons">
                <ul id="icons-list">
                    <li>
                        <fa-icon [icon]="faFacebook" size="2x" class="color-icon"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faGoogle" size="2x" class="color-icon"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faGithub" size="2x" class="color-icon"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faLinkedin" size="2x" class="color-icon"></fa-icon>
                    </li>
                </ul>
            </div>
        </footer>
    </div>