    
    <div id="main-page-container">
        <header class="top-header">
            <div class="grid-containerHeadFoot">
                <div class="footer-header line">        
                </div>
                <div class="footer-header tab-l-t">
                </div>
                <div class="footer-header line-out">
                </div>
                <div class="footer-header tab-r-t">
                </div>
            </div>
        </header>
        <main>  
            <section id="logo-section" class="section">
                <div id="logo">
                    <img src="../../assets/icons/wolf.png" id="logo-img" />
                </div>
                <div id="logo-text-box">
                    <h1>
                        Fox marketplace, os melhores produtos online ao seu alcançe.
                    </h1>
                    <h3>
                        No fox marketplace você consegue comprar itens NFT, comprar objetos materiais, ações e  outros com bitcoin e outras cryptocurrencies.
                    </h3>
                    <button>
                        Saiba mais
                    </button>
                </div>
            </section>
            <section id="rocket-section" class="section">

            </section>
            <section id="link-section" class="section">

            </section>
        </main>

        <footer class="bottom-footer">
            <div class="grid-containerHeadFoot">
                <div class="footer-header tab-l-b">
                </div>
                <div class="footer-header line-out">        
                </div>
                <div class="footer-header tab-r-b">
                </div>
                <div class="footer-header line">
                </div>
            </div>
        </footer>
    </div>